{% extends 'navbar.html' %}
{% block content %}

<div class="content">
    <div class="cadastro-consumidor">
        <form action="{{url_for('cadastro_consumidor')}}" method="POST" class="form-cadConsumidor" name="form-cadConsumidor" id="cadConsumidor">
            <div>
                <h2>Cadastro</h2>
                <img src="{{url_for('static', filename='images/cad_cons_icon.svg')}}">
            </div>
            <div>
                <input type="text" placeholder="Nome" name="nome" id="nome" required>
                <input type="text" placeholder="CPF" name="cpf" id="cpf" oninput="formataCpf(event)" required>
                <input type="email" placeholder="E-mail" name="email" id="email" required>
                <input type="text" placeholder="Telefone" name="telefone" id="telefone" oninput="formataTel(event)" required>
                <input type="password" placeholder="Senha" name="senha" id="senha" required>
                <input type="password" placeholder="Confirmar Senha" id="cSenha" required>
                <div>
                    <input type="text" placeholder="País" name="pais" id="pais" required>
                    <input type="text" placeholder="UF" name="uf" id="uf" maxlength="2" oninput="this.value = this.value.toUpperCase()" required>
                </div>
                <input type="text" placeholder="Cidade" name="cidade" id="cidade" required>
            </div>
            <button type="button" onclick="enviarForm()">Cadastrar-se</button>
            <a href="{{url_for('index')}}">Já possuo uma conta</a>
        </form>
    </div>
</div>
<script>
    function formataCpf(e){
        var input = document.querySelector('#cpf')
        value = input.value
        if(isNaN(e.data)){
            input.value = value.substring(0, value.length-1)
            return
        }
        input.setAttribute("maxlength", "14");
        if(value.length == 3 || value.length == 7) input.value += "."
        if(value.length == 11) input.value += "-"
        limit = [3,7,11]
        if(limit.includes(value.length) && e.inputType == 'deleteContentBackward') input.value = value.substring(0, value.length-1)
    }

    function formataTel(e){
        var input = document.querySelector('#telefone')
        value = input.value
        if(isNaN(e.data)){
            input.value = value.substring(0, value.length-1)
            return
        }
        input.setAttribute("maxlength", "14");
        if(value.length == 1) input.value = "(" + input.value
        if(value.length == 3) input.value += ")"
        if(value.length == 9) input.value += "-"
        limit = [1,3,9]
        if(limit.includes(value.length) && e.inputType == 'deleteContentBackward') input.value = value.substring(0, value.length-1)
    }

    function enviarForm(){
        var form = document.querySelector('#cadConsumidor')
        var cpf = document.querySelector('#cpf')
        var senha = document.querySelector('#senha')
        var cSenha = document.querySelector('#cSenha')

        if(validarCpf(cpf.value)){
            if(validarSenha(senha.value, cSenha.value)){
                form.submit()
            }else{
                alert("Senhas Divergentes")
            }
        }else{
            alert("CPF Inválido")
        }
    
    }

    function validarCpf(e){
        return true
    }

    function validarSenha(senha, cSenha){
        if(senha == cSenha){
            return true
        }else{
            return false
        }
    }

    function conferirNulo(){
        
    }
</script>
{% endblock content %}