{% extends 'navbar.html' %}
{% block content %}

<div class="content">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <script>
            alert("{{message}}")
        </script>
    {% endfor %}
{% endwith %}
    <div class="cadastro-consumidor">
        <form action="{{url_for('cadastro_consumidor')}}" method="POST" class="form-cadConsumidor" name="form-cadConsumidor" id="cadConsumidor">
            <div>
                <h2>Cadastro</h2>
                <img src="{{url_for('static', filename='images/cad_cons_icon.svg')}}">
            </div>
            <div>
                <input type="text" placeholder="Nome" name="nome" id="nome" required>
                <input type="text" placeholder="CPF" name="cpf" id="cpf" oninput="formataCpf(event)" required>
                <input type="email" placeholder="E-mail" name="email" id="email" required>
                <input type="text" placeholder="Telefone" name="telefone" id="telefone" oninput="formataTel(event)" required>
                <input type="password" placeholder="Senha" name="senha" id="senha" required>
                <input type="password" placeholder="Confirmar Senha" id="cSenha" required>
                <div>
                    <input type="text" placeholder="País" name="pais" id="pais" required>
                    <input type="text" placeholder="UF" name="uf" id="uf" maxlength="2" oninput="this.value = this.value.toUpperCase()" required>
                </div>
                <input type="text" placeholder="Cidade" name="cidade" id="cidade" required>
            </div>
            <button type="button" onclick="enviarForm()">Cadastrar-se</button>
            <a href="{{url_for('index')}}">Já possuo uma conta</a>
        </form>
    </div>
</div>
<script>
</script>
{% endblock content %}