{% extends 'navbar.html' %}
{% block content %}

<div class="content">
    <div class="cadastro-consumidor">
        <form action="" class="form-cadConsumidor">
            <div>
                <h2>Cadastro</h2>
                <img src="{{url_for('static', filename='images/cad_cons_icon.svg')}}">
            </div>
            <div>
                <input type="text" placeholder="Nome" name="nome" id="nome" required>
                <input type="text" placeholder="CPF" name="cpf" id="cpf" oninput="formatCpf()" required>
                <input type="email" placeholder="E-mail" name="email" id="email" required>
                <input type="text" placeholder="Telefone" name="telefone" id="telefone" oninput="telefone()" required>
                <input type="password" placeholder="Senha" name="senha" id="senha" required>
                <input type="password" placeholder="Confirmar Senha" required>
                <div>
                    <input type="text" placeholder="País" name="pais" id="pais" required>
                    <input type="text" placeholder="UF" name="uf" id="uf" required>
                </div>
                <input type="text" placeholder="Cidade" name="cidade" id="cidade" required>
            </div>
            <button type="button">Cadastrar-se</button>
            <a href="{{url_for('index')}}">Já possuo uma conta</a>
        </form>
    </div>
</div>
<script>
    function formatCpf(){
        var input = document.querySelector('#cpf')
        value = input.value
        if(isNaN(value[value.length-1])){ // impede entrar outro caractere que não seja número
            input.value = value.substring(0, value.length-1);
            return;
        }
        input.setAttribute("maxlength", "14");
        if (value.length == 3 || value.length == 7) input.value += ".";
        if (value.length == 11) input.value += "-";
    }
</script>
{% endblock content %}