{% extends 'navbar.html' %}
{% block content %}
<div class="content">
    <div class="centralizar">
        <div class="compras">
            {% for pedido in pedidos %}
            <div class="pedido-bloco">
                <div class="escondido">
                    <div class="texto-esquerda">
                        <div>
                            <div style="font-size: 14px;">Id:{{pedido['id']}}</div> 
                            <div {% if pedido['status'] == 'Pendente' %} style="color:#FF6700 ;" {%endif%}>{{pedido['status']}}</div>
                        </div>
                        <div>Vendedor: {{pedido['vendedor']}}</div>
                        <div>Tel: {{pedido['vendedor_telefone']}}</div>
                    </div>
                    <div class="texto-direita">
                        <div>{{pedido['data']}}</div>
                        <div>Total: R$ {{pedido['total']}}</div>
                        <div style="color: #5CAC0E; cursor: pointer;" onclick="expandir({{pedido['id']}})">Detalhes ></div>
                    </div>
                </div>
                <div class="expandido" id="expandido-{{pedido['id']}}" style="display: none; padding-bottom: 20px;">
                    <div class="centralizar">
                        <div style="text-align: center; margin-bottom: 20px;">
                            <p>Pedido</p>
                            {%for produto in pedido['produto']%}
                            <p>{{produto['nome']}} - {{produto['qtde']}} un - R${{produto['preco']}}</p>
                            {% endfor %}
                        </div>
                        {% if pedido['status'] == 'Pendente' %}
                        <button type="button" class="btn-pedido" onclick="location.href = '{{url_for('att_compra', pedido = pedido['_id'], status='Cancelado')}}'">Cancelar</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    function expandir(id){
        div  = document.getElementById(`expandido-${id}`)
        if(div.style.display == 'none'){
            div.style.display = 'block'
        }else{
            div.style.display = 'none'
        }
    }
</script>
{% endblock content %}