{% extends 'navbar_vendedor.html' %}
{% block content %}
<div class="content">
<div class="informacoes-vendedor">
    <div class="banner" style="background: url('../static/images/banner_template.svg') center/cover no-repeat"></div>
    <div class="texto">
        <p>Telefone: (13) 99777-0607</p>
        <p>E-mail: jose.lanches@gmail.com.br</p>
    </div>
</div>
<div class="produtos-vendedor">
    <h4>Produtos disponíveis</h4>
    <div class="produto">

    </div>
</div>
<div class="pagamento-vendedor">
    <div class="opcao"></div>
</div>
</div>
{% endblock content %}