{% extends 'navbar_vendedor.html' %}
{% block content %}
<div class="content">
<div class="pag-vendedor">
    <div class="informacoes-vendedor">
        <div class="banner" style="background: url('../static/images/dogao.png') center/cover no-repeat"></div>
        <div class="texto">
            <p>Telefone: (13) 99777-0607</p>
            <p>E-mail: jose.lanches@gmail.com.br</p>
        </div>
    </div>
    <div class="produtos-vendedor">
        <h3>Produtos disponíveis</h3>
        <div class="produto">
            <div class="img-produto-vendedor" style="background: url('../static/images/dogao.png') center/cover no-repeat"></div>
            <div class="inf-produto-vendedor">
                <p style="font-size: 16px; margin-top:0;">Dogão</p>
                <p>Preço: R$9,00</p>
                <p style="width: 188px;">Dogão com salsicha e mostarda</p>
            </div>
        </div>
        <div class="produto">
            <div class="img-produto-vendedor" style="background: url('../static/images/pizza.png') center/cover no-repeat"></div>
            <div class="inf-produto-vendedor">
                <p style="font-size: 16px; margin-top:0;">Pizza Calabresa</p>
                <p>Preço: R$12,00</p>
                <p style="width: 188px;">Pizza calabresa direto do forno. Bem apimentado</p>
            </div>
        </div>
        <div class="produto">
            <div class="img-produto-vendedor" style="background: url('../static/images/laranjinha.png') center/cover no-repeat"></div>
            <div class="inf-produto-vendedor">
                <p style="font-size: 16px; margin-top:0;">Laranjinha</p>
                <p>Preço: R$6,00</p>
                <p style="width: 188px;">Suco de laranja natural adocicado com mel (400ml). </p>
            </div>
        </div>
    </div>
    <div class="pagamento-vendedor">
        <h3>Tipos de pagamentos aceitos</h3>
        <div>
            <div class="opcao">
                <img src="../static/images/dinheiro_laranja.svg">
                Dinheiro
            </div>
            <div class="opcao">
                <img src="../static/images/cartao_laranja.svg">
                Débito
            </div>
            <div class="opcao">
                <img src="../static/images/cartao_laranja.svg">
                Crédito
            </div>
            <div class="opcao">
                <img src="../static/images/pix_laranja.svg">
                Pix
            </div>
        </div>
    </div>
    <div class="botoes">
        <button>Produtos</button>
        <button>Vendas</button>
    </div>
</div>
</div>
{% endblock content %}