{% extends 'navbar.html'%}
{% block content %}
<div class="content">
    <div class="centralizar">
        <div class="pagamento">
            <div class="lista-pedido">
                <h3>Total</h3><h3 style="text-align: end;">R${{pedido['total']}}</h3>
                {% for produto in pedido['produto']%}
                <div>{{produto['qtde']}}x {{produto['nome']}}</div><div style="text-align: end;">R$ {{produto['preco']}}</div>
                {% endfor %}
            </div>
            <hr>
            <div class="cupom">
                <div>Digite o cupom de desconto</div>
                <input type="text" placeholder="Exemplo: CAMELO10">
                <button type="button">Aplicar Cupom</button>
            </div>
            <hr>
            <div class="forma-pagamento">
                <h3>Pagamento</h3>
                <p>Escolher forma de pagamento</p>
                <div>
                    <div class="opcao">
                        <img src="{{url_for('static', filename='/images/cartao_verde.svg')}}" alt="">
                        Débito
                    </div>
                    <div class="opcao">
                        <img src="{{url_for('static', filename='/images/cartao_verde.svg')}}" alt="">
                        Crédito
                    </div>
                    <div class="opcao" onclick="location.href='{{url_for('pix', id=pedido['id_vendedor'], idPedido=pedido['_id'])}}'">
                        <img src="{{url_for('static', filename='/images/pix_verde.svg')}}" alt="">
                        Pix
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}