{% extends 'navbar.html' %}
{% block content %}
    <div class="content">
        <div class="primeiro_acesso">
            <div class="banner-template">
                Pré-visualização
                <div class="img-banner-default">
                </div>
                <button type="button">Adicionar Foto</button>
            </div>
            <input type="text" name="nome_fantasia" id="nome_fantasia" placeholder="Nome Fantasia">
            <div class="select_formaPag">
                
            </div>
        </div>
    </div>
{% endblock content %}