{% extends 'navbar.html' %}
{% block content %}
    <div class="tutorial">
        <div class="modal">
            <h3>Bem-vindo ao Sr. Camelô!</h3>
            <p>Estamos animados para começar esta jornada juntos.</p>
            <p>Nosso mascote está pronto para apresentar o aplicativo.</p>
            <div class="img-modal">
                <button class="back"></button>
                <img src="" alt="">
                <button class="advance"></button>
            </div>
            <p>Clique nas setas para prosseguir com o tutorial!</p>
            <p>Se você já conehce o nosso app, você também pode clicar no botão "Pular" abaixo.</p>
        </div>
        <button type="button" class="modal-btn">Pular</button>
    </div>
    <div class="content">
        <form action="{{url_for('primeiro_acesso')}}" method="post" enctype="multipart/form-data" id="cadPrimeiroAcesso">
            <div class="primeiro_acesso">
                <div class="banner-template">
                    Pré-visualização
                    <div class="img-banner-default" id="img-banner-default">
                        <input type="file" name="imagem_loja" id="imagem_loja" accept="image/*" onchange="showImg(event, '#img-banner-default')" hidden>
                    </div>
                    <button type="button" onclick="openFile('#imagem_loja')">Adicionar Foto</button>
                </div>
                <input type="text" name="nome_fantasia" id="nome_fantasia" placeholder="Nome Fantasia">
                <div class="select_formaPag">
                    <h4>Selecione as formas de pagamento:</h4>
                    <div class="check_formaPag">
                        <div class="option_formaPag">
                            <input type="checkbox" value="dinheiro" id="opt_dinheiro" name="forma_pagamento">
                            <span class="checkmark" onclick="checkBox('#opt_dinheiro')">
                                <img src="{{url_for('static', filename='/images/dinheiro_icon.svg')}}" alt="">
                            </span>
                            <label for="opt_dinheiro">Dinheiro</label>
                        </div>
                        <div class="option_formaPag">
                            <input type="checkbox" value="debito" id="opt_debito" name="forma_pagamento">
                            <span class="checkmark" onclick="checkBox('#opt_debito')">
                                <img src="{{url_for('static', filename='/images/cartao_icon.svg')}}" alt="">
                            </span>
                            <label for="opt_debito">Débito</label>
                        </div>
                        <div class="option_formaPag">
                            <input type="checkbox" value="credito" id="opt_credito" name="forma_pagamento">
                            <span class="checkmark" onclick="checkBox('#opt_credito')">
                                <img src="{{url_for('static', filename='/images/cartao_icon.svg')}}" alt="">
                            </span>
                            <label for="opt_credito">Crédito</label>
                        </div>
                        <div class="option_formaPag">
                            <input type="checkbox" value="pix" id="opt_pix" name="forma_pagamento">
                            <span class="checkmark" onclick="checkBox('#opt_pix')">
                                <img src="{{url_for('static', filename='/images/pix_icon.svg')}}" alt="">
                            </span>
                            <label for="opt_pix">Pix</label>
                        </div>
                    </div>
                </div>
                <!-- <button type="button">Cadastrar Produtos</button> -->
                <button type="button" onclick="enviarForm2()">Cadastrar Produtos</button>
            </div>
        </form>
    </div>
{% endblock content %}