{%extends 'navbar.html'%}
{%block content%}
<div class="content">
    <form class="lista-produtos" id="lista-produtos" action="{{url_for('produtos')}}" method="POST" enctype="multipart/form-data">
        <input type="number" name="qtde" value="{{produtos[-1]['id']}}" id="qtde-produtos" hidden>

        {%for produto in produtos%}
        <div class="produto" id="produto-{{produto['id']}}">
            <input type="file" name="imagem_produto-{{produto['id']}}" id="imagem_produto-{{produto['id']}}" accept="image/*" onchange="showImg(event, '#img-produto-default-{{produto['id']}}')" hidden>
            <div class="img-produto" id="img-produto-default-{{produto['id']}}" onclick="openFile('#imagem_produto-{{produto['id']}}')" style="background: url('../static/uploads/{{produto['imagem']}}') center/cover no-repeat">
            </div>
            <div class="input-produto" id="input_produto-{{produto['id']}}">
                <input name="id_produto-{{produto['id']}}" value="{{produto['id']}}" id="id_produto-{{produto['id']}}" hidden>
                <input placeholder="Nome" name="nome_produto-{{produto['id']}}" id="nome_produto-{{produto['id']}}" value="{{produto['nome']}}">
                <input placeholder="R$ 0,00" name="preco_produto-{{produto['id']}}" id="preco_produto-{{produto['id']}}" value="{{produto['preco']}}">
                <textarea placeholder="&#10;Descrição" name="descricao_produto-{{produto['id']}}"   id="descricao_produto-{{produto['id']}}">{{produto['descricao']}}</textarea>
                <select name="categoria_produto-{{produto['id']}}" id="categoria_produto-{{produto['id']}}">
                {%for categoria in categorias%}
                    <option value="{{categoria['categoria']}}" {%if produto['categoria'] == categoria['categoria']%} selected {%endif%}>{{categoria['categoria']}}</option>
                {%endfor%}
                </select>
            </div>
            <img class="excluir-produto" src="{{url_for('static', filename='images/trash-icon.svg')}}" onclick="deletarProduto('produto-{{produto['id']}}')">
        </div>
        {%endfor%}

    </form>
    <div class="centralizar">
        <button type="button" class="button-add" onclick="addInputProduto()">
            <img src="{{url_for('static', filename='/images/adicionar-icon.svg')}}">
        </button>
        <button type="button" onclick="enviarProdutos()">Finalizar</button>
    </div>
</div>
<script>
    num = {{produtos[-1]['id']}}
    function addInputProduto(){
        num++
        lista = window.document.getElementById('lista-produtos')
        
        div = document.createElement("div")
        div.classList.add('produto')
        div.id = `produto-${num}`
        div.innerHTML = `
        <input type="file" name="imagem_produto-${num}" id="imagem_produto-${num}" accept="image/*" onchange="showImg(event, '#img-produto-default-${num}')" hidden>
            <div class="img-produto" id="img-produto-default-${num}" onclick="openFile('#imagem_produto-${num}')">
            </div>
            <div class="input-produto" id="input_produto-${num}">
                <input name="id_produto-${num}" value="${num}" id="id_produto-${num}" hidden>
                <input placeholder="Nome" name="nome_produto-${num}" id="nome_produto-${num}">
                <input placeholder="R$ 0,00" name="preco_produto-${num}" id="preco_produto-${num}">
                <textarea placeholder="&#10;Descrição" name="descricao_produto-${num}"   id="descricao_produto-${num}"></textarea>
                <select name="categoria_produto-${num}" id="categoria_produto-${num}">
                    <option hidden disable>Categoria</option>
                    {%for categoria in categorias%}
                    <option value="{{categoria['categoria']}}">{{categoria['categoria']}}</option>
                    {%endfor%}
                </select>
            </div>
            <img class="excluir-produto" src="{{url_for('static', filename='images/trash-icon.svg')}}" onclick="deletarProduto('produto-${num}')">`
        lista.appendChild(div)

        qtde = document.getElementById('qtde-produtos')
        qtde.value = num
    }

    function deletarProduto(id){
        elem = document.getElementById(id)
        document.getElementById('lista-produtos').removeChild(elem)
    }

    function enviarProdutos(){
        var form = window.document.querySelector('#lista-produtos')
        return form.submit()
    }
</script>
{%endblock content%}