@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

*{
    font-family:'Montserrat';
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
    min-height: auto;
}
.wrapper{
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    height: auto;
}
.navbar{
    position: sticky;
    top: 0;
    flex: 0 1 103px;
    background-color: #FF6700;
}
.navbar>.radius{
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: #FFF1E8;
    bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.navbar>.nav-esquerda{
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.voltar{
    width: 27px;
    height: 36px;
}
.voltar:hover{
    transform: scale(1.1);
    transition: 200ms;
    cursor: pointer;
}
.menu{
    width: 30px;
    height: 20px; 
}
.menu:hover{
    transform: scale(1.1);
    transition: 200ms;
    cursor: pointer;
}
.menu-content{
    position: fixed;
    height: 100%;
    width: 270px;
    padding-left: 30px;
    padding-top: 40px;
    display: none;
    flex-direction: column;
    background-color: #FF6700;
}
.menu-content>.perfil-logado{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
    color: #ffffff;
    font-size: 12px;
}
.links{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.links>a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
}
.content{
    flex: 1 1 auto;
    background-color: #FFF1E8;
}

input, input:focus{ 
    width: 270px;
    height: 30px;
    border: none;
    background:none;
    outline: none;
    border-bottom: 2px solid #FF6700;
    font-size: 16px;
}

button{
    width: 190px;
    height: 58px;
    font-size: 16px;
    background-color: #ffffff;
    color: #5CAC0E;
    border: none;
    border-radius: 20px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
}
button:hover{
    background-color: #5CAC0E;
    color:#ffffff;
    cursor: pointer;
}

a{
    color: #5CAC0E;
    font-size: 12px;
}
a:hover{
    transform: scale(1.05);
    transition: 200ms;
}

h2, h3, h4{
    color: #FF6700;
    font-weight: 300;
}

.div-login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-login>img{
    width: 211px;
    margin-bottom: 44px;
}
.form-login>input#email{
    margin-bottom: 25px;
}
.form-login>input#senha{
    margin-bottom: 54px;
}
.form-login>a{
    margin-top: 35px;
}

.select-cadastro{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.select-cadastro>img{
    width: 211px;
    margin-bottom: 83px;
}
.select-cadastro button:nth-of-type(1){
    margin-bottom: 50px;
}
.select-cadastro button:nth-of-type(2){
    margin-bottom: 35px;
}

.cadastro-consumidor{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}
.form-cadConsumidor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-cadConsumidor>div:nth-of-type(2){
    margin-top: 40px;
    display: grid;
    gap: 25px;
    margin-bottom: 80px;
}
.form-cadConsumidor>div:nth-of-type(2)>div{
    display:grid;
    grid-template-columns: auto auto;
    gap: 25px;
}
.form-cadConsumidor>div:nth-of-type(2)>div>input:nth-child(1){
    width: 170px;
}
.form-cadConsumidor>div:nth-of-type(2)>div>input:nth-child(2){
    width: 70px;
}
.form-cadConsumidor>button{
    margin: 35px;
}
.form-cadConsumidor>a{
    padding-bottom: 50px;
}


.primeiro_acesso{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.banner-template{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-banner-default{
    width: 390px;
    height: 174px;
    background-image: url(../images/banner_template.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: inset 0 -5px 15px 0 rgba(0, 0, 0, 0.25);
}
.banner-template>button{
    margin-top: -25px;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.25);
}
.check_formaPag{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 27px;
    column-gap: 44px;
}
.option_formaPag{
    display: flex;
    align-items: center;
}
.option_formaPag>input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.option_formaPag>.checkmark{
    height: 70px;
    width: 70px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.option_formaPag input:hover ~ .checkmark, .option_formaPag .checkmark:hover {
    img{
        filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(2995%) hue-rotate(212deg) brightness(113%) contrast(101%);
    };
    background-color: #79d71a;
    cursor: pointer;
}
.option_formaPag input:checked ~ .checkmark{
    img{
        filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(2995%) hue-rotate(212deg) brightness(113%) contrast(101%);
    };
    background-color: #5CAC0E;
}
.option_formaPag>label{
    margin-left: 10px;
}

.lista-produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    gap: 25px;
}
.produto{
    display: flex;
    flex-direction: row;
    gap: 17px; 
    align-items: center;
}
.img-produto{
    width: 123px;
    height: 126px;
    background-image: url(../images/prod_img_template.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.input-produto{
    display: flex;
    flex-direction: column;
    gap:10px
}

.input-produto>textarea, .input-produto textarea:focus {
    width: 140px;
    height: 33px;
    border: none;
    resize: none;
    background: none;
    outline: none;
    border-bottom: 2px solid #FF6700;
    font-size: 12px;
}
.input-produto>input{
    width: 140px;
    height: 20px;
    font-size: 12px;
}
.input-produto>select{
    height: 20px;
    font-size: 12px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid #FF6700;
}
.input-produto>select:invalid{
    color: gray;
}
.excluir-produto:hover{
    cursor: pointer;
}
.button-add{
    width: 40px;
    height: 40px;
    border: 20px;
    margin-bottom: 80px;
}
.button-add:hover{
    img{
        filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(2995%) hue-rotate(212deg) brightness(113%) contrast(101%);
    }
}
.centralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pag-vendedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.informacoes-vendedor{
    text-align: center;
    font-size:  14px;
}
.informacoes-vendedor>.banner{
    width: 390px;
    height: 178px;
}
.produtos-vendedor{
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top:  68px;
    text-align: center;
}
.produtos-vendedor>.produto{
    display: flex;
    text-align: left;
    font-size: 12px;
}
.img-produto-vendedor{
    width: 142px;
    height: 92px;
    border-radius: 10px;
}
.pagamento-vendedor{
    margin-top: 47px;
}
.pagamento-vendedor>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 36px;
    column-gap: 38px;
}
.pagamento-vendedor>div>.opcao{
    width: 120px;
    height: 120px;
    border-radius: 30px ;
    background-color: #FFC197;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 21px;
    color: #FF6700;
}
.botoes{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 30px;
    margin-bottom: 60px;
}
